form(ng-submit="login.submit()")
  .form-group
    input.form-control(ng-model="login.email" type="email" placeholder="Email")
  .form-group
    input.form-control(ng-model="login.password" type="password" placeholder="Password")
  .form-group
    button.btn Submit