h1 Users
table
  thead
    tr
      th Username
      th Status
      th Email
  tr(ng-repeat="user in users.list")
    td
      input(ng-model="user.username")
    td
      span {{user.status}}
      select(ng-model="user.status" ng-options="option.key as option.label for option in users.statusOptions")
    td {{user.email}}
    td
      button.btn(ng-click="users.saveUser(user)") Save